[2016-10-12 12:54] jevakallio opened #2 "Follow semantic versioning"
The repository readme says

According to https://github.com/kirankalyan5/react-native-segmented-control-tab/commit/0d7827263fe17fd2559d6485899a32221724c6e3 the next version will introduce breaking changes. According to the [semver](http://semver.org/) guidelines, breaking changes should cause a major version bump:

The next release should therefore be 2.0.0. The release will otherwise break any co

[2016-10-12 13:10] kirankalyan5 commented on #2
jevakallio, Thanks for this, will be following this approach.

[2016-10-12 13:19] #2 closed

[2016-11-28 03:40] Jack-Wen opened #4 "How to change the page when tab index changed"
How to change the page when tab index changed?

[2016-11-28 04:24] kirankalyan5 commented on #4
![image](https://cloud.githubusercontent.com/assets/13114538/20656202/372c55b8-b550-11e6-8290-e4906bc074a0.png)

you can use this call back, with the help of the local state and index you can render/ change the View.

[2016-11-29 06:43] Jack-Wen commented on #4
thanks , I use onTabPress= { index => this.setState({selected:index})} , but I got the follow issue with es6.
![image](https://cloud.githubusercontent.com/assets/8498242/20699307/942d0b44-b641-11e6-9509-b168069df71e.png)

my constructor
![image](https://cloud.githubusercontent.com/assets/8498242/20699414/332a9cd4-b642-11e6-9964-26e22e479eef.png)

[2016-11-29 14:45] kirankalyan5 commented on #4
Hi Jack-Wen, I have updated the example for the usage of the index. please take the latest and refer [example.js](https://github.com/kirankalyan5/react-native-segmented-control-tab/blob/master/Example/example/exampleMain.js#L14).

[2016-11-30 02:26] Jack-Wen commented on #4
thanks! it good running.

[2016-11-30 05:35] #4 closed

[2017-02-19 10:14] AppDev666 opened #5 "Not working at all please check and update package"

[2017-02-20 05:24] kirankalyan5 commented on #5
@AppDev666 It's working all fine. Can you be more clear, where you are facing issue.

Refer ReadME.

[2017-02-20 05:28] AppDev666 commented on #5
I follow Read ME.No segment bar is showing even change the styling and not clickable.
I switch to other option .If its working fine for you its OK.
Thanks for responding @kirankalyan5

[2017-02-20 05:28] #5 closed

[2017-02-20 05:30] kirankalyan5 commented on #5
Can you share your isuue (with screenshots and code ), so I can find a way to help you.

[2017-02-21 17:45] KjellConnelly opened #6 "Programatically Update Segment without Touch?"
I have a situation where I need to toggle the segment which is selected based on some logic. But I can't figure out how to change the ControlTab's actual UI to reflect the state, as selectedIndex seems to only affect the initially selected index, but doesn't update dynamically.

Any way around this?

[2017-02-23 14:21] SuhairZain commented on #6
Hi @KjellConnelly
The way this component is currently designed, the selectedIndex is only for the initial selection, with the further changes manages internally using state.

It's not a workaround, but you could rewrite this component to be a controlled component, with no internal state. You could do it yourself, it's fairly easy. Otherwise, if you can afford to wait, I'll be submitting a PR for t

[2017-03-01 17:13] KjellConnelly commented on #6
Cool. Hows the progress going? And thanks :)

[2017-03-01 17:30] SuhairZain commented on #6
@KjellConnelly Damn, dude. I was caught up in another work and totally forgot about it. I shall get to it right now. Sorry for the delay.

[2017-03-02 01:08] kirankalyan5 commented on #6
@KjellConnelly You will be getting to see some updates today.

Thanks @SuhairZain for the PR 👍 . Cheers!

[2017-03-02 06:10] kirankalyan5 commented on #6
@SuhairZain Merged and updated the example as well, see if you can make the example more crisp.

[2017-03-02 17:28] SuhairZain commented on #6
Hi @kirankalyan5
This issue was for a stateless tab selection, not multiple selection. I'm yet to make a PR for it. Kindly re-open the issue. 😄

[2017-03-02 19:32] SuhairZain commented on #6
Hi @KjellConnelly
I've made it to a controlled component but I'm yet to update the documentation and example. For the time being, until I do that, you can use [my fork](https://github.com/SuhairZain/react-native-segmented-control-tab/).

@kirankalyan5 I realize that this is a really bad way to do things and I'm really sorry about it. I'll write the documentation and examples as soon as I can and s

[2017-03-02 23:49] kirankalyan5 commented on #6
@SuhairZain No problem buddy, re opening the issue.

[2017-03-06 09:42] bhavinpatolia opened #9 "Styles not getting updated"
I am using Segmented tab as per given example but its not updating style, its taking only default color of sky blue.
Code sample:
<View style={styles.parent}>
        <View style={styles.flex1}>
          <SegmentedControl
            defaultPage={1}
            itemButtonViewStyle = {{
                width:200
            }}
            itemHeaderViewStyle = {{
                paddingVertical:10

[2017-03-06 09:58] kirankalyan5 commented on #9
Hi @bhavinpatolia, in above code I see you are using too many unsupported props (itemButtonViewStyle, itemHeaderViewStyle etc. ), which you shouldn't be..

you can re check the Documentation on custom styling and also refer this [example](https://github.com/kirankalyan5/react-native-segmented-control-tab/tree/master/Example/example).

[2017-03-06 10:08] bhavinpatolia commented on #9
Updated one,
<SegmentedControl
            borderRadius={0}
                tabsContainerStyle={{height: 50, backgroundColor: '#211F47'}}
                tabStyle={{backgroundColor: '#211F47', borderWidth: 0}}
                activeTabStyle={{backgroundColor: 'white', marginTop: 2}}
                tabTextStyle={{color: '#211F47', fontWeight: 'bold'}}
                activeTabTextStyle={{color: '#

[2017-03-07 09:35] junedomingo opened #10 "Rendering problem on iOS 10"
![56cc3012-5c8e-4e33-b589-7cd4f0009e73](https://cloud.githubusercontent.com/assets/5106887/23650172/2a66bfa8-035c-11e7-8471-06efd28c36c6.JPG)

Here you can see some shadow effect in the inactive tab.
this happens in actual device

[2017-03-10 03:31] kirankalyan5 commented on #9
@bhavinpatolia I feel you are missing something, you can refer the example and cross check.

If it's still not working, then share the entire file, let me have a look.

[2017-03-10 03:33] kirankalyan5 commented on #10
@junedomingo can you share the code for the above ? It's working fine for me.

[2017-03-10 03:58] junedomingo commented on #10
Custom styles are inlined for now.
[code]

[2017-03-10 04:02] junedomingo commented on #10
@kirankalyan5, This is already in `release` build by the way, my  iOS version is `10.2`.
No problem in Simulator.

[2017-03-14 00:36] thomasobrien99 opened #11 "Inner borders"
Hello @kirankalyan5, thanks for the nice component! I am wondering if you would be open to a PR for setting right and left borders a bit differently, because as it is now inner cells left and right borders join and double up. If You would like to keep the default as is, I could also make it based on an optional prop. I would simply omit the the left border on all except the first tab. Thanks in ad

[2017-03-14 04:05] kirankalyan5 commented on #11
Hi @thomasobrien99, you can do the changes and open a PR. Let me have a look on it :)

Plus:I can suggest you a simple hack, may be you can give a try.  you can also play around with the existing one by giving inner border value to "Half of it's value" so when it doubles it would render as expected :)

Thanks in advance for your contribution 👍

[2017-03-14 23:46] whan commented on #10
I guess this is React Native bug on iOS, even this simple piece of codes will have the same issue:

<TouchableOpacity >
        <View style={{
          width: 100, borderBottomLeftRadius: 5, borderTopLeftRadius: 5, borderColor: 'blue',
          paddingHorizontal: 10,
          paddingVertical: 5,
          borderWidth: 1,
        }}>
          <Text style={{ width: 30 }}>text</Text>
        </Vi

[2017-03-14 23:48] whan commented on #10
`<TouchableOpacity >
        <View style={{
          width: 100, borderBottomLeftRadius: 5, borderTopLeftRadius: 5, borderColor: 'blue',
          paddingHorizontal: 10,
          paddingVertical: 5,
          borderWidth: 1,
        }}>
          <Text style={{ width: 30 }}>text</Text>
        </View>
      </TouchableOpacity>`

[2017-03-27 18:28] asessa commented on #10
This glitch is visible only when your side border radius is greater than 0 and you have an element on its side with borders.

I've disabled the left/right border and works for me (iOS 10.2.1 device).

Try to disable the border left/right width on L51/52:

[code]

@kirankalyan5  if it's ok for you I can submit a PR.

[2017-03-27 23:07] jvt commented on #6
Has there been any update on this?

[2017-03-30 04:40] kirankalyan5 commented on #6
Hi @jvt, I have been busy for a while. I have few changes, which I will be pushing them soon!
Between you can refer @SuhairZain [fork](https://github.com/SuhairZain/react-native-segmented-control-tab/) for the above update.

[2017-03-31 10:32] mojocakes commented on #6
Not ideal, but you can do it like this:

Save a reference to the component
[code]

Invoke the component's internal "onTabPress" function and pass it a tab index
[code]

[2017-03-31 10:45] SuhairZain commented on #6
I've submitted a PR with the changes. Once the author merges them, you can
use it directly without any hacks.

On Mar 31, 2017 4:02 PM, "James Cook" <notifications@github.com> wrote:

Not ideal, but you can do it like this:

Save a reference to the component

<SegmentedControlTab ref="segmentedControl" ... />

Invoke the component's internal "onTabPress" function and pass it a tab
index

this.refs

[2017-03-31 15:37] egormerkushev opened #12 "Error with getting selected index in renderTabOption"
Component doesn't update visual state if props changed via parent. Problem is in line 27 in method  `renderTabOption`: component gets selected index from self internal state, but it must get it from props. Also state is useless for this component in RN conception...
[code]

[2017-03-31 15:50] egormerkushev commented on #12
Oh. Code above is from old version, but newer version has a same behaviour.

[2017-04-01 02:06] bedemiralp commented on #10
This appears to be a bug with React Native itself. Many people have reported similar issues:
- https://github.com/facebook/react-native/issues/8577
- https://github.com/facebook/react-native/issues/11897
- https://github.com/facebook/react-native/issues/10823
- https://github.com/facebook/react-native/issues/4604

[2017-04-01 07:10] kirankalyan5 commented on #6
@SuhairZain I have merged the changes and published 3.0.1 👍

@here - have a look on the latest code.

[2017-04-01 07:10] #6 closed

[2017-04-01 07:11] kirankalyan5 commented on #9
@bhavinpatolia I have published the latest version, please verify now.

[2017-04-01 07:11] #9 closed

[2017-04-01 07:12] kirankalyan5 commented on #12
@egormerkushev - I have published the latest one, please have a look!

[2017-04-01 07:13] kirankalyan5 commented on #11
@thomasobrien99 I have published the latest one.

[2017-04-01 07:16] kirankalyan5 commented on #10
@here - I have published the latest version, have a look!

[2017-04-03 09:46] asessa commented on #10
@kirankalyan5 I've tested with the latest version and the problem is still there

[2017-04-04 17:53] thomasobrien99 commented on #11
@kirankalyan5 Thank you so much! unfortunately the way the styles are were not working well for us across both android and ios, I believe due to a react native bug with regard to border radius (particularly when the border is very small), so I had to re-implement it in a different way. Thank you for following up with this!

[2017-04-05 06:37] SoundBlaster commented on #12
I had test with new version of code. Issue stays here.
Method `renderTabOption` uses `this.state` to get actual boolean active value for tab:
[code]
but `this.state` becomes invalid if parent node rerenders self and included segmented control with new `prop` `selectedIndex` for it.

For example:
[code]
If value of `this.props.segmentedControlSelectedIndex` will be changed and `MyComplexComponent`

[2017-04-05 08:13] egormerkushev commented on #12
In my fork I removed `state` from component, but not test it with multiple=true
https://github.com/egormerkushev/react-native-segmented-control-tab/blob/master/SegmentedControlTab.js

What do you think about necessity of `state` in your component? I think component like this must be clean aka "pure component".

[2017-04-06 05:38] kirankalyan5 commented on #12
@egormerkushev I feel you are referring to an older version!
The component is now a stateless functional component, Please refer [this](https://github.com/kirankalyan5/react-native-segmented-control-tab/blob/master/SegmentedControlTab.js)

[2017-04-06 07:09] egormerkushev commented on #12
Yep, 3.0.1 works fine.

[2017-04-06 07:09] #12 closed

[2017-04-06 07:17] ghost opened #15 "When this component is loading in a scrollview as initial loading, this one isn't shown on scrollview."
How are you?
I put this component in my project, and put this one in any scrollview.
When i run my app initially, this component isn't shown on my app.
![simulator screen shot 6 apr 2017 3 34 46 pm](https://cloud.githubusercontent.com/assets/23254736/24742883/b489f95e-1ade-11e7-9666-b79f766b36b4.png)

But when i change the state of scrollview by scrolling, your component is shown.
![simulator scre

[2017-04-06 10:14] kirankalyan5 commented on #15
@WernlingTan can you please share the code as well ?

[2017-04-06 14:03] WernlingTan commented on #15
Thanks

Followings is the render function on my code.

  render() {

    return (
      <View style={Styles.listContainer}>
        <View style={[Styles.listContainer, { flex: 1, }]}>
          <ScrollView style={{ flex: 1, padding: 20 }}>
          ... ... ...
            <SegmentedControlTab
                values={["1+",
                        "2+",
                        "3+",

[2017-04-09 17:15] KjellConnelly opened #16 "Add React-Native-Web support?"
Thanks for all the help so far guys, but I have a new request.

While I can use this module in my Chrome browser just fine with webpack-dev-server, I've come across issues when building the production version.

1) Source code isn't in ES5 format. So while it works on the Chrome browser, it doesn't compile properly (assuming you exclude the node_modules folder).

2) Once source code is in ES5 forma

[2017-04-10 07:01] Kerence opened #17 "set selected index by this.setState() doesn't work!"
I've found a way to fix this issue!
add the following code to SegmentedControlTab to get this issue fixed.
...
 componentWillReceiveProps(props){
        const {selectedIndex} = props;
        if(selectedIndex){
            this.setState({selectedIndex});
        }
    }
....

[2017-04-11 16:03] KjellConnelly commented on #16
I came across a line of code in my bundle.js

`process.env.NODE_ENV !== "production" ? View.propTypes = _ViewPropTypes2.default : void 0;`

Turns out react-native-web does this for some reason. Not quite sure why. I'm guessing process.env.NODE_ENV isn't accessible from react-native... or in other words, your plugin continues to work on production iOS and Android apps. But thought I'd mention it si

[2017-04-17 23:35] alexdunae commented on #15
I'm seeing this as well when I nest a SegmentedControlTab in a ScrollView (specifically https://github.com/APSL/react-native-keyboard-aware-scroll-view which wraps a regular RN ScrollView).

[2017-04-19 08:50] kirankalyan5 commented on #15
@alexdunae did it fix the issue by adding removeClippedSubviews={false} ?

[2017-04-19 18:50] alexdunae commented on #15
It did - I just created a pull request.  Tested on iOS but not Android.

[2017-04-23 10:28] elie222 opened #21 "Why not use Native Segmented control on iOS and the custom one on Android?"
Why not use Native Segmented control on iOS and the custom one on Android since it would have better performance?

[2017-04-24 14:09] kirankalyan5 commented on #21
@elie222 the main concept here was to write minimal and common code for both IOS and Android.

[2017-04-24 14:10] #21 closed

[2017-04-24 14:12] #11 closed

[2017-04-27 10:12] sternjobname commented on #17
Could you show this in context with the rest of your code?  It's unclear as to how this is implemented...

[2017-05-18 17:20] jamesholcomb opened #22 "feature request: enabled property"
Per https://facebook.github.io/react-native/docs/segmentedcontrolios.html#enabled

[2017-06-04 21:09] elie222 commented on #21
I've just tried it for the first time. The gif you show doesn't show the whole picture. You lose animations when you don't use the default iOS segmented control.

[2017-06-08 03:06] Un3qual opened #23 "Segments change size on first press"
![jun-07-2017 20-03-02](https://user-images.githubusercontent.com/6117075/26910558-8301f6fc-4bbc-11e7-9786-a0d97dd784ee.gif)
The above happens, but as soon as the segments resize, the resizing stops. I switched to [ArnaudRinquin/react-native-radio-buttons](https://github.com/ArnaudRinquin/react-native-radio-buttons) due to this, but it happened with that repo too. I'm not even sure where to mentio

[2017-06-08 15:18] kirankalyan5 commented on #23
@Un3qual I doubt the custom styles of yours is causing this issue. on observation it's resetting the padding. Can you share the code how you have consumed.

[2017-06-08 21:34] Un3qual commented on #23
[code]
[code]

[2017-06-10 07:23] kirankalyan5 commented on #23
@Un3qual is it[ kirankalyan5/react-native-segmented-control-tab](https://github.com/kirankalyan5/react-native-segmented-control-tab) at first place ?

[2017-06-11 01:09] Un3qual commented on #23
Whoops. I sent the wrong code. here is the right one:
[code]

[2017-06-23 04:27] giautm commented on #10
I still got that problem after upgrade to Expo's SDK 18.

[2017-07-03 16:02] kirankalyan5 commented on #23
@Un3qual I tested this again, works fine for me. Can you test it again.

[2017-07-03 16:05] #15 closed

[2017-07-03 22:59] emroussel opened #25 "Truncate text inside tab with ellipsis"
There are some cases where the text I display inside the segmented control does not fit on one line. It would be nice to be able to truncate the text like on `TextInput` with `numberOfLines`.

React Native's `SegmentedControlIOS` already does this by default.

I can submit a PR with the fix if you want!

[2017-07-04 02:55] kirankalyan5 commented on #25
Hi @emroussel thanks for the suggestion, I have added the code for this. It will be up in the next version.which I will be publishing today.

![image](https://user-images.githubusercontent.com/13114538/27813269-5be0f9c0-6092-11e7-8a51-429184a585f4.png)

[2017-07-04 02:57] #25 closed

[2017-07-11 19:06] bcitdaltond commented on #10
Still have this problem too

Example:
![image](https://user-images.githubusercontent.com/23248970/28085560-ed6d16dc-6630-11e7-960e-3595a0b96721.png)

[code]

[2017-07-12 03:07] kirankalyan5 commented on #22
Nice to have! PR welcome.

[2017-07-12 03:09] kirankalyan5 commented on #17
@Kerence can to detail a bit more on this issue.

[2017-07-21 14:38] manpreetmannysingh opened #27 "activeTabStyle not changing when selecting other tab."
Hi,

I have changed the style of whole tab. I have set activeTabStyle border bottom color and width. Its working fine for the centered tab, but when i am selecting other tab borderBottom not displaying.

![border](https://user-images.githubusercontent.com/19534420/28468323-45e6a07c-6e50-11e7-847a-012e7c809922.png)
![no border](https://user-images.githubusercontent.com/19534420/28468324-45ea2c56-6e

[2017-07-21 15:18] kirankalyan5 commented on #27
@manpreetmannysingh can you share the code how you have handled.
Thanks

[2017-07-22 05:47] kirankalyan5 commented on #10
Hi Guys, I have fixed this issue, I have published the latest version have a look.
Attaching the screen shot for reference.
![img_9281](https://user-images.githubusercontent.com/13114538/28488773-3f8bf176-6ecf-11e7-92b1-b8bc23a1a3d7.PNG)
![img_9282](https://user-images.githubusercontent.com/13114538/28488774-3fd26d04-6ecf-11e7-93fb-76ee9194b2d2.PNG)

[2017-07-22 05:55] #10 closed

[2017-07-26 09:51] chiformihai commented on #27
I have exactly the same problem, but only on Android.

`<SegmentedControlTab
        ...
        borderRadius={0}
        tabsContainerStyle={{height: SEGMENTED_CONTROL_HEIGHT, backgroundColor: Colors.background}}
        tabStyle={{backgroundColor: 'transparent', borderWidth: 0}}
        activeTabStyle={{backgroundColor: 'white', borderBottomWidth: 4, borderColor: Colors.accentColor}}
        tab

[2017-07-26 18:58] RP20 opened #28 "Change View.propTypes to ViewPropTypes to support React Native v44"
in SegmentedControl.js

SegmentedControlTab.propTypes = {
    values: PropTypes.array,
    badges: PropTypes.array,
    multiple: PropTypes.bool,
    onTabPress: PropTypes.func,
    selectedIndex: PropTypes.number,
    selectedIndices: PropTypes.arrayOf(PropTypes.number),
    tabsContainerStyle: View.propTypes.style,
    tabStyle: View.propTypes.style,
    activeTabStyle: View.propTypes.style,

[2017-07-27 16:10] kirankalyan5 commented on #28
@RP20 it has been updated way back to ViewPropTypes, I doubt you are referring to fork.

Please have a look here - [SegmentedControlTab.js](https://github.com/kirankalyan5/react-native-segmented-control-tab/blob/master/SegmentedControlTab.js)

[2017-07-27 16:10] #28 closed

[2017-08-10 12:34] kennykswan commented on #10
Note with this fix, if there are only two tabs, there is no border between them.

[2017-08-11 04:12] kirankalyan5 commented on #10
@kennykswan I agree, but when it's two tabs I don't find a need of border between them.
PFA
![image](https://user-images.githubusercontent.com/13114538/29201152-644a6402-7e79-11e7-8a3b-9ae7a987e634.png)

[2017-08-11 10:06] hxx1197411446 opened #29 "android中 三个选项卡的时候 点击第三个选项右边有一半无法触发点击事件"
<SegmentedControlTab
                        values={['买入', '卖出','撤单']}
                        selectedIndex={this.state.customStyleIndex}
                        onTabPress={this.handleSelect}
                        borderRadius={0}
                        tabsContainerStyle={{ height: p(60), backgroundColor: '#1F2229',marginVertical:p(20)}}
                        tabStyle={{ backgroundColor:

[2017-08-11 12:07] #29 closed

[2017-08-15 14:13] kirankalyan5 commented on #29
@hxx1197411446  非常感谢你

P.S used google translator :D

[2017-08-23 14:22] jamesholcomb commented on #10
I tried the fix.  With three tabs on Simulator, seeing some extra spacing between second and third tab when third tab is selected.

RN 0.46.4
iOS 10.3

![image](https://user-images.githubusercontent.com/362729/29620605-06d81c46-87e4-11e7-8b26-b630275325f8.png)

[2017-08-23 20:51] jamesholcomb commented on #10
This resolved it for me:

[code]

[2017-10-24 23:50] ziyafenn opened #33 "Add support for disabled tab"
Hi guys. I think that would be great to be able to disable certain tabs and style them.

Thanks! 💯

[2017-10-25 02:18] kirankalyan5 commented on #33
Hi @ziyafenn, Thanks for the thought, I'm currently little occupied. PR welcome.

[2017-10-25 02:20] kirankalyan5 commented on #23
@Un3qual I'm closing this issue as I see it works as expected.

Thanks

[2017-10-25 02:20] #23 closed

[2017-11-06 16:25] jamesholcomb commented on #22
Gist for anyone wanting to create a PR: https://gist.github.com/jamesholcomb/ab6e3a58cccbe5ead7af1c60f14bc76f

// Added disabled prop
// Use Material theme Indigo color defaults
// Add propType validation
// Lower opacity for disabled
// Fix border and width issues for Android

[2017-11-07 06:14] RP20 commented on #28
@kirankalyan5 , Thanks.

[2017-11-12 01:27] jpca999 opened #34 "how do i remove the color blueish border color on the selected Tab ?"
![image](https://user-images.githubusercontent.com/1026325/32743443-664e8882-c87a-11e7-9325-a275642ace08.png)

        <SegmentedControlTab
            tabsContainerStyle={styles.tabsContainerStyle}
            tabStyle={styles.tabStyle}
            tabTextStyle={styles.tabTextStyle}
            activeTabStyle={styles.activeTabStyle}
            activeTabTextStyle={styles.activeTabTextStyle}

[2017-11-12 12:19] kirankalyan5 commented on #34
@jpca999 you can override by giving border color to tabStyle prop

[code]
![image](https://user-images.githubusercontent.com/13114538/32698793-3f8b5224-c7d1-11e7-8b86-a822000ff1f2.png)

Also if you want the text color to be red then you can override by giving color to tabTextStyle
[code]
![image](https://user-images.githubusercontent.com/13114538/32698830-ba9cd51e-c7d1-11e7-9a05-bde6b388c03c.png)

[2017-11-13 01:35] jgutierrez11 opened #35 "How to put a vertical line as separator ?"
How to style the control in order to achieve something like:

Option1    |       Option2

[2017-11-13 19:03] jpca999 commented on #34
thanks @kirankalyan5

[2017-11-13 19:03] #34 closed

[2018-01-07 14:30] Angelk90 opened #39 "Sliding effect and segment reduction."
@kirankalyan5:
Hello congratulations on the module. Can this effect be done on the module?

![](https://i.imgur.com/TDVJzqZ.gif)

Code:
[code]

Link:
https://snack.expo.io/BJfDpik4f

How can I reduce the size of the segment, as in the image?
![](https://i.imgur.com/QJWTU8w.jpg)

P. S.
Because if I put the segregation in a view without problem style, do not you see?

[2018-01-07 14:50] Angelk90 commented on #27
@manpreetmannysingh :
Look here:
Link expo: https://snack.expo.io/Bkljf3yNf
code:
[code]

[2018-01-16 15:58] kirankalyan5 commented on #17
Not reproducible, Closing this issue.

[2018-01-16 15:58] #17 closed

[2018-01-27 05:34] kirankalyan5 commented on #35
@jgutierrez11 could you share the actual design which you want to produce using this component.

[2018-01-27 05:35] kirankalyan5 opened #40 "Update example to the latest RN"

[2018-01-27 16:29] kirankalyan5 commented on #27
@Angelk90 👍🏼.

[2018-01-27 16:29] #27 closed

[2018-01-31 14:37] karan101292 commented on #25
Not a good idea to make it like this. make it configurable to set number of lines. Right now I am using it by changing it in source code.

[2018-02-01 03:28] usrbowe commented on #40
`onPress` vs `onTabPress`...

[2018-03-22 08:23] WeiLiangTan opened #42 "Segmented size according to children"
Is there a way to have the controls's width scaling depending on the options?

Rather than setting the width, I hope it can change according to the text, and not necessary to fill the parent's width.

For example,
![screen shot 2018-03-22 at 4 22 15 pm](https://user-images.githubusercontent.com/8586548/37759040-5c6de8ca-2ded-11e8-961d-4dfa90063ce7.png)

[2018-04-06 09:49] MassieurHunter commented on #10
hello guys, the last commit produce the same issue for ios 9 and 10 when there's only 2 tabs

[2018-04-06 20:23] bgold0 opened #44 "Can't get rid of ellipsis's"
When I this:

`values={['something', 'something else', 'see this']`

I get ellipsis like so:

<img width="239" alt="screen shot 2018-04-06 at 4 22 20 pm" src="https://user-images.githubusercontent.com/4645400/38442602-ceeb90e4-39b6-11e8-92cc-0ffb31070116.png">

Anyway I can make it go to a new line?

[2018-04-07 11:10] kirankalyan5 commented on #44
Hi @bgold0 currently the tab options <Text> numberOfLines is set to 1 and the ellipsizeMode is ture.
We could make it configurable with props. PR welcome for this change :)

[2018-04-07 11:16] kirankalyan5 commented on #39
@Angelk90 the size of the segment can be done.
For the Animation part. It will be a really nice effect. There will be a lot of changes required and we should make it configurable. Also, make sure we don't break the existing features.

PR welcome.

[2018-04-07 11:24] kirankalyan5 commented on #25
@karan101292 Yes, we should make it configurable! @bgold0  `<SegmentedControlTab numberOfLines={2}` will not work as it not a valid prop for `SegmentedControlTab`.if

@karan101292 if you have the changes ready, please raise PR.

[2018-04-07 11:27] kirankalyan5 commented on #44
I will be making number if line configurable soon.
Thanks

[2018-04-07 19:40] bgold0 opened #45 "Please make onTabPress work for selected tab as well"
It would be very helpful if I could be alerted when a tab that is already selected has been selected also.  Ideal situation I am trying to solve is to un-select a selected tab.

At the moment, no action is recorded (at least in documentaiton)

[2018-04-12 10:51] aneena-thomas opened #46 "Customise segment"
is it possible to customise segment like this?
![screen shot 2018-04-12 at 4 21 35 pm](https://user-images.githubusercontent.com/13118654/38673039-999c085e-3e6d-11e8-802a-a25cf1d1d67f.png)

[2018-04-24 04:40] kirankalyan5 commented on #46
you have full flexibility of styling the tabs so this should be doable.

[2018-04-24 04:48] aneena-thomas commented on #46
how

[2018-04-24 04:52] aneena-thomas commented on #46
i have done some styling but its looks like below
![simulator screen shot - iphone 6 - 2018-04-24 at 10 22 26](https://user-images.githubusercontent.com/13118654/39166823-6698292a-47a9-11e8-814d-bc7a287d8df2.png)

[2018-04-24 05:12] kirankalyan5 commented on #46
@aneena-thomas - I gave a quick try. Check this link https://snack.expo.io/@kirankalyan5/segmentedcontrolexample

[2018-04-24 07:44] aneena-thomas commented on #46
wow thanks man its working

[2018-04-24 09:51] #46 closed

[2018-05-12 18:56] bgold0 commented on #45
This would be REALLY helpful @kirankalyan5

[2018-05-14 01:36] JayKurniawan opened #48 "First tab has a broken view if values lower than 3"
I got this problem in iOS when I set the `values` to be only 2 (works fine on Android)

![img_0324 2](https://user-images.githubusercontent.com/6804018/39974305-1a14908a-5752-11e8-8d61-992735a1b1e2.jpg)

The tab works fine if I have more than  2 `values`

Here's my code

[code]

[2018-05-15 05:39] sandeep0607 opened #49 "Tab Bar Image"
Is there any possible way to add the image icon before the value/tab name ? if yes please help me. i do like this but the text is not adjusted with the image.
`badges={[
                        <Text style={styles.badgeText}>
                          <Image
                            style={styles.badgeImage1}
                            source={require("./Images/3.png")}

[2018-05-16 10:15] Hyeongwon commented on #35
easily

[code]

[2018-06-06 06:29] kirankalyan5 commented on #48
Could you check if you have the latest version?

[2018-06-07 00:44] Carlosp16 commented on #48
I have the same error. I'm using the latest version. 3.2.2

[2018-06-13 20:33] andrewlor commented on #48
I am having the same issue.

[2018-06-19 15:24] clfristoe opened #52 "Customize tab press"
I would like to have an individual tab segment highlighted temporarily (using TouchableHighlight if possible) when tapped to give the user feedback that they've tapped. Is this possible with this library?

something like this:
https://facebook.github.io/react-native/docs/touchablehighlight.html#underlaycolor

[2018-07-03 22:40] ziyafenn commented on #33
Tried to do it, but unfortunately, this is beyond my knowledge :(. Would appreciate someone taking look into it.

[2018-07-04 06:19] kirankalyan5 commented on #33
Np, but I'm not really sure will it be a good idea to make it able to disable.  Could you please share some use cases in how useful it will be terms of segmented control tab?

[2018-07-04 07:08] kirankalyan5 commented on #49
Hi @sandeep0607 , you can do it this way.

create a function which renders inlineImage with text

[code]
Pass it to the values props.
[code]

![img_e0b8b8892502-1](https://user-images.githubusercontent.com/13114538/42261852-c6f65984-7f69-11e8-934e-94a2d5ada1f8.jpeg)

[2018-07-04 07:14] #44 closed

[2018-07-04 08:49] ziyafenn commented on #33
@kirankalyan5 of course i can.

We have a game companion app which supports 3 different game platforms (ps4, xbox, pc). And when a user registers he can select his platform. For the beginning, we offer only ps4, but we still want to people know that we have other platforms coming too. This is why we want to disable the other two.

Hope this clarifies for you the use case.

[2018-07-04 09:36] kirankalyan5 commented on #42
@WeiLiangTan it always spaces evenly as they look neat and identical. I don't think it will be a good idea to set the width of the tab (of segmentedControl) according to the text.

[2018-07-04 09:36] #42 closed

[2018-07-04 19:37] #49 closed

[2018-07-11 18:05] #39 closed

[2018-07-19 10:09] ziyafenn opened #54 "Weird padding on first tab"
Hey there.
I'm getting weird padding on the right side of first tab on the devices like iPhone X or iPads
![screenshot 2018-07-19 11 56 08](https://user-images.githubusercontent.com/314302/42936423-4fa3eeac-8b4c-11e8-8940-c253e8d9d1ff.png)

![screenshot 2018-07-19 11 59 08](https://user-images.githubusercontent.com/314302/42936505-88919b74-8b4c-11e8-9f2a-fc939abf9d89.png)
![screenshot 2018-07-19 1

[2018-07-23 11:42] gbhasha opened #56 "Support for accessibility"
Add accessibilityLabel for each tab, so that disabled user can easily identify the tab using voiceover or other assistive technology. And this also helps us to write proper functional test(automation test) using frameworks like Appium. Most of the testing frameworks expect an `accessibiltyLabel` or `testID` props to identify the item and trigger the event.

[2018-07-23 16:38] saikrishna321 commented on #56
Thanks @gbhasha much needed.

[2018-07-23 18:46] kirankalyan5 opened #57 "Introduce support to RTL languages."

[2018-07-23 18:59] kirankalyan5 commented on #54
Can you share the [snack](https://snack.expo.io/) for the same?

[2018-07-23 19:04] kirankalyan5 commented on #52
@clfristoe in this library we use `TouchableOpacity` hence we could play around with `activeOpacity` to get similar behavior. Currently activeOpacity={1}.
I can make it come from props.

[2018-07-23 19:12] kirankalyan5 commented on #45
@bgold0 if you enable `multiple` props, you can select the `selected tab` as well

[2018-07-23 19:15] kirankalyan5 commented on #35
closing this as it's inactive for a long time.

[2018-07-23 19:15] kirankalyan5 commented on #35
closing this as it's inactive for a long time.

[2018-07-23 19:15] kirankalyan5 commented on #35
closing this as it's inactive for a long time.

[2018-07-23 19:15] #35 closed

[2018-07-23 19:19] kirankalyan5 commented on #33
Thanks! I will soon add a prop `enable` which would match native implementation -https://facebook.github.io/react-native/docs/segmentedcontrolios#enabled.

Not sure whether that will help you,

[2018-07-23 19:33] #16 closed

[2018-07-23 19:35] kirankalyan5 commented on #22
@jamesholcomb thanks, this issue will be tracked as part of #33

[2018-07-23 19:35] #22 closed

[2018-07-23 19:35] #45 closed

[2018-07-24 04:32] gbhasha opened #58 "No UnitTest for the source code"
There is no unit test for the source code SegmentedControlTab.js

[2018-07-24 04:36] gbhasha opened #59 "What is the use case for having multiple option?"
Tabs solves the problem of separating content into sections and accessed via a single content area using a flat navigation structure that does not refresh the page when selected.

What is the rationale of having multiple option ?

[2018-07-24 04:41] gbhasha opened #60 "Example not working"
Given Example file is not working as expected. Seems there could be some problem accessing the package using `file:.../` protocol in `package.json`

Below is the error message.

[2018-07-24 06:18] kirankalyan5 commented on #58
Totally agree! this is something the library is missing. On looking at the decent amount of PRs. I do prefer it is **must have**. Also, this is a reason it takes quite a while to merge a PR as it should be completely tested.

I have a must have TODO's for this library.

1. Introduce the unit test. (Jest)
2. introduce Flow and remove prototypes.
3. set up a prehook quality check on running eslint,

[2018-07-24 06:19] kirankalyan5 commented on #60
The reason should be because of the RN version. This should be fixed as part of #40.
Closing this as till will be tracked as part of #40.

[2018-07-24 06:19] #60 closed

[2018-07-24 06:33] kirankalyan5 commented on #59
This will enable the consumer to use the same component when they are interested in the values selected and not the content.

 FYI: Multiple here is an optional filed which by default is false.hence your expected way of tabs functioning works smoothly and it doesn't break the behavior.

[2018-07-24 06:33] #59 closed

[2018-07-24 07:01] kirankalyan5 opened #61 "introduce flow types and remove prop types."

[2018-07-25 09:04] #56 closed

[2018-07-25 15:27] rinaz-a opened #62 "activeTabTextStyle is crashing the app on android because the text is converted to RawText"
I used to use this code that worked perfectly on iOs but is causing the app to crash on Android devices  :
[code]

The error is the following :
![image](https://user-images.githubusercontent.com/15831677/43210574-c3e7bebe-902f-11e8-9566-c4cb1a615e0c.png)

I solved it by simply removing the `activeTabTextStyle` property as the text is white by default in the activeTab. 👍

But the `activeTabTextStyl

[2018-07-25 19:41] kirankalyan5 commented on #62
`activeTabTextStyle` is a styleObject and I believe this should not be causing the crash. If you could share the issue on a [snack](https://snack.expo.io/) https://snack.expo.io/ .

I can give a try fixing it.

[2018-07-25 20:17] nameisveeru opened #63 "The Multiple Option doesnt work !"
Correct me if i am wrong .The 'multiple' prop set to true should allow us to select multiple tabs. It does not work that way with the tabclick. It works when the selectedIndices are hardcoded on the component itself. If there is other way of doing that. please let me know .
Thanks,
VeerU

[2018-07-26 08:22] rinaz-a commented on #62
I did this : https://snack.expo.io/S1liZWvE7

But it's pretty strange as here it work whereas I have the error as show over here on my computer.

Same results if I run the project on my phone from the snack or on my computer... At the moment I don't have enough time to dig more but I think it may be due to another module i'm using but it's pretty strange as if I comment this property everything is

[2018-07-26 09:40] kirankalyan5 commented on #62
Sounds a bit strange for me aswell :(

[2018-07-29 20:21] kirankalyan5 commented on #63
[code]

instead of `selectedIndex` you will be using `selectedIndices` prop.

[2018-07-30 16:08] #63 closed

[2018-08-06 13:49] TimurAsayonok opened #64 "New version of lib."
Hello @kirankalyan5, Could you update version of lib from `3.2.2`, because in this lib we added a lot of changes.

[2018-08-07 07:08] kirankalyan5 commented on #64
@TimurAsayonok I will be updating the version soon, It's been delayed as I'm in progress of adding few minor features which will result in a closing couple of issues :)

Could you specifically tell me what feature are you looking on the updated release?

[2018-08-07 12:03] TimurAsayonok commented on #64
@kirankalyan5 Will be very helpful to see in new version commits:
- https://github.com/kirankalyan5/react-native-segmented-control-tab/commit/277afd18f04ff75d12729ce57684983d6f9fa7ff
- https://github.com/kirankalyan5/react-native-segmented-control-tab/commit/a04f590fa2d625b95aa6b93143c27b62a38d75cf
- https://github.com/kirankalyan5/react-native-segmented-control-tab/commit/5b20f1dc8f155b190e3e6b48

[2018-08-07 18:46] kirankalyan5 commented on #64
@TimurAsayonok Thanks for letting me know, I will be publishing the new version very soon and keep you posted here!

[2018-08-07 20:00] kirankalyan5 commented on #64
New version v3.3.1 is published.

https://www.npmjs.com/package/react-native-segmented-control-tab

[2018-08-07 20:00] #64 closed

[2018-08-07 20:01] kirankalyan5 commented on #52
Added activeTabOpacity to customize the tab press. Plese, check the latest version.

[2018-08-07 20:01] #52 closed

[2018-08-07 20:02] kirankalyan5 commented on #57
no plans as of now.

[2018-08-07 20:02] #57 closed

[2018-08-07 20:04] kirankalyan5 commented on #33
@ziyafenn As discussed earlier, I have added the `enabled` prop. you can also slightly customize the disabled view with `tabsContainerDisableStyle`.

Please check the latest version.

[2018-08-07 20:04] #33 closed

[2018-08-07 20:07] kirankalyan5 commented on #54
Please feel free to reopen if this still exists.

Also, request you to please share the code via  [snack](https://snack.expo.io/) so I could try helping you.

[2018-08-07 20:07] #54 closed

[2018-08-07 20:08] kirankalyan5 commented on #62
Hi guys, I have published the latest version, could you update and check if this still exist?

https://www.npmjs.com/package/react-native-segmented-control-tab

[2018-08-07 20:11] kirankalyan5 commented on #48
Hi guys, there was a similar render problem which was reported some time back.

Can you check this https://github.com/kirankalyan5/react-native-segmented-control-tab/issues/10?

it may help you.

[2018-08-07 21:05] clfristoe commented on #52
Thank you! @kirankalyan5

[2018-08-08 15:37] JayKurniawan commented on #48
@kirankalyan5 thanks

[2018-08-08 15:37] #48 closed

[2018-08-10 09:01] #62 closed

[2018-08-10 20:17] clfristoe opened #67 "Formatting issue on iPad Pro (12.9 - inch)(2nd Generation)"
Noticing the divider between the second and third tab is not visible unless I tap and hold the third tab.
![simulator screen shot - ipad pro 12 9-inch 2nd generation - 2018-08-10 at 15 12 10](https://user-images.githubusercontent.com/15655814/43979454-71b3d7da-9cb0-11e8-821e-d0856750777c.png)

[2018-08-10 20:57] kirankalyan5 commented on #67
Thanks for reporting! Does it work fine on Phone?

Could you share the [snack](https://snack.expo.io/) for the same, so I could give a try fixing it.

[2018-08-10 21:08] clfristoe commented on #67
Yes, it works fine on iPhone, only iPad sizes (I think it's a width issue). Due to business policy, I cannot share all the code, but this is the main file that we use. I've uploaded it as a snack, but it doesn't compile. https://snack.expo.io/HJkwCdoBQ

[2018-08-15 06:38] muhaimincs opened #68 "Weird behavior"
![photo6311910365591611398](https://user-images.githubusercontent.com/30996641/44134767-df2140e6-a098-11e8-93b6-32f3b4da095b.jpg)

does anyone ever experience this

[2018-08-15 06:51] kirankalyan5 commented on #68
Hi @muhaimincs it was reported earlier, you can go through this thread here. #10

Also, It seems to be reported in [Rn](https://github.com/facebook/react-native/issues/17998).

I feel you can tackle this problem by playing around with the border 🤔

[2018-08-15 22:52] waltermvp opened #69 "Border vs divider"
Im attempting to achieve the following design:
![screen shot 2018-08-15 at 6 48 52 pm](https://user-images.githubusercontent.com/1158238/44177438-f3897300-a0bb-11e8-8e53-ac41f4508fa2.png)

however when i set the borderColor i get the following expected result:
![screen shot 2018-08-15 at 6 51 33 pm](https://user-images.githubusercontent.com/1158238/44177509-45ca9400-a0bc-11e8-8267-c528c097187a.png

[2018-08-16 17:51] kirankalyan5 commented on #69
I think you could achieve this design by playing around with borderRadius and border color.
![image](https://user-images.githubusercontent.com/13114538/44225346-952cc500-a18d-11e8-89d3-d58a70742777.png)

[2018-08-16 17:56] waltermvp commented on #69
@kirankalyan5 thanks for your prompt response

I must be missing something. When i set borderColor is applies to both the border and the divider. I wanted a borderless design with the divider visible. Not sure how to achieve that.

[2018-08-16 18:31] waltermvp commented on #69
@kirankalyan5 i understand the concern perhaps it should mimic UISegmentedControl behavior (i know apple does intentionally limit customization on controls when they feel the need to for design reasons) However im  not sure what that behavior is.

[2018-08-17 05:42] kirankalyan5 commented on #69
I would say, you could try convincing the designer for very minor changes like this and use the standard way.

[2018-08-19 09:41] kirankalyan5 commented on #69
@waltermvp closing this issue.

[2018-08-19 09:41] #69 closed

[2018-08-27 14:27] waltermvp commented on #33
@ziyafenn any plans for enabled a single tab?

[2018-08-27 20:36] waltermvp commented on #33
If original component does not support then i would agree with you.

[2018-08-29 14:33] ziyafenn commented on #33
hey @kirankalyan5 ! sorry for silly question, but does enable prop works for the whole tab component and not for the tab item, right? Cause i needed to disable a tab items :D

Thanks

[2018-08-29 15:54] kirankalyan5 commented on #33
it just works similar to the RN's SegmentmentedControlIOS,

[SegmentmentedControlIOS](https://facebook.github.io/react-native/docs/segmentedcontrolios#enabled)

https://facebook.github.io/react-native/docs/segmentedcontrolios#enabled

[2018-09-14 19:36] tylerbuchea opened #71 "Add visual indicator for onPressIn to more closely match SegmentedControlIOS"
In the native iOS version of this component there is a visual indicator for when you press down but haven't yet let your finger up. It's a slightly lighter color than the fully active color.

I would like to open a PR to add this functionality to your component if you're cool with that I can start working on it.

![simulator screen shot - iphone 5s - 2018-09-14 at 12 31 12](https://user-images.git

[2018-09-15 07:03] kirankalyan5 commented on #71
Hi @tylerbuchea Sounds cool! please open a PR for the same 💪!

[2018-10-19 09:33] #61 closed

[2018-10-19 18:36] kirankalyan5 commented on #68
Closing this issue for now! Please feel free to re-open.
Thanks.

[2018-10-19 18:36] #68 closed

[2018-10-19 18:39] kirankalyan5 commented on #71
you can now use `activeTabOpacity`.

[2018-10-19 18:39] #71 closed

[2018-10-24 00:48] luigiquero commented on #10
I got rid of the artefact in by using Math.round in borderRadius provided directly to SegmentedControlTab.
Apparently it doesn't like floats

[2018-11-02 19:01] chrismatchett opened #76 "capturing presses on selected tab"
Hi,

A question...wow would I go about capturing repeated presses on the currently selected tab as onTabPress fires when the selectedIndex changes?

Many thanks,

Chris

[2018-11-05 14:29] radiospiritsapp commented on #10
still getting this issue in ios 6s device with 2 tabs.

[2018-11-05 14:31] hsparihar-systango commented on #10
still getting this issue in ios 6s device with 2 tabs.

[2018-11-28 08:55] #58 closed

[2018-11-28 08:56] kirankalyan5 opened #81 "Improve code coverage."

[2018-11-28 08:59] kirankalyan5 commented on #76
Hi, @chrismatchett sorry for the delay in response. We cannot capture repeated presses as the `onTabPress` only when the `(selectedIndex !== index`
FYR:
https://github.com/kirankalyan5/react-native-segmented-control-tab/blob/master/src/SegmentedControlTab.js#L63

[2018-11-28 09:01] kirankalyan5 commented on #67
Couldn't reproduce, Closing it for now.

[2018-11-28 09:01] #67 closed

[2018-11-29 13:09] #76 closed

[2018-12-26 17:13] GavinThomas1192 commented on #10
I'm also still getting this issue on ios 6s

[2018-12-26 17:24] GavinThomas1192 opened #83 "Bleed over on ios"
I'm posting this to add more attention to this previously filed bug.
https://github.com/kirankalyan5/react-native-segmented-control-tab/issues/10

It's happening on ios, on device only.
This SS from an iPhone 6s.
![image from ios](https://user-images.githubusercontent.com/28162527/50452610-f741c780-08ef-11e9-96d9-abd31c7057de.png)

I've tried.
` const firstTabStyle = this.state.selectedIndex === 1

[2019-01-17 10:35] 0xckylee opened #84 "Typo 'enable' -> 'enabled' on README.md"
I was looking for option to disable, and took me a while to figure out that prop name should be "enabled" instead of "enable". Small typo, but could save some time in the future by fixing it.

[2019-01-25 11:50] champcmr commented on #83
I have also facing same issue. Hey @GavinThomas1192 have you find some solution to resolve it ?

[2019-01-25 17:36] GavinThomas1192 commented on #83
I had to do a 'hack' I believe this is an issue with RN vs this package.
`tabStyle: {
    borderColor: colors.primaryAction,
    borderBottomLeftRadius: 2,
    borderBottomRightRadius: 2,
    borderTopLeftRadius: 2,
    borderTopRightRadius: 2,
  },`

I had to add a 'rounding to the corners' remove the sharp edge. It's barely noticeable. But not straight.

[2019-02-15 09:53] AnilkumarRabhasa opened #87 "How to set image for each tab instead of Text"
I want to put custom image in Text place for each tab.
Where to change code for that?

[2019-02-21 08:03] Sebi55 commented on #42
You should be able to pass other tabStyle options to allow this. I am using these settings to size the tabs according to the text inside:

[code]

[2019-03-29 11:27] GianReynaldi commented on #87
I have same problem here

[2019-05-04 05:37] spuntin opened #89 "Border radius style not overriding"
Trying to set:

`activeTabStyle={{borderBottomLeftRadius: 0, borderBottomRightRadius: 0}`

but it doesn't appear to be overriding the default styles

[2019-05-07 19:12] kirankalyan5 commented on #89
Yes, it's expected, it would get overridden by the firstTabStyle,
 lastTabStyle. you could try playing around with borderRadius prop to achieve your expected behavior.

[2019-05-07 19:12] #89 closed

[2019-05-07 19:25] kirankalyan5 commented on #87
Hi @AnilkumarRabhasa @GianReynaldi  you could try doing something like this #49

[2019-05-07 19:25] #87 closed

[2019-05-07 19:27] kirankalyan5 commented on #83
closing this issue as it is inactive for a long time. you could try using the workaround.
Feel free to re-open the issue if this still exists.

[2019-05-07 19:27] #83 closed

[2019-06-06 18:22] hexatex opened #91 "Make tabs fit to title length"
I have one tab out of three that is longer than the rest and so it becomes abbreviated "Reports and Stu...".

Is it possible to make the tabs fit the width of the title instead of splitting the width between the tabs equally?

[2019-06-11 11:31] mt11i opened #93 "swipe to switch between tabs"

[2019-06-11 11:33] #93 closed

[2019-07-02 23:32] CapitanRedBeard commented on #49
Yeah the code above currently does not work

[2019-07-05 21:21] mathieujohnson opened #111 "release to npm with first and last tab style overloading please"
Hello, I see the code is in master and would like to use this feature. Is it possible to release it to NPM?

[2019-07-11 15:19] ziyafenn commented on #49
Is there any update on this? I'd love to add an icon to my segmented tabs @kirankalyan5

[2019-07-11 20:27] kirankalyan5 commented on #111
Hi @mathieujohnson, apologies for the delay, I will soon publish the latest version and keep you posted.
Thanks

[2019-07-11 20:29] kirankalyan5 opened #113 "introduce Tab bar images"
Introduce and make the component configurable to display images(optional) along with the text value when needed.

[2019-07-11 20:30] kirankalyan5 commented on #49
@sandeep0607 @zhigang1992 the approach which I had shared is a hacky way to handle an image within a Text and pass it to values.

A nicer solution would be to enhance the component to handle images via props and make them configurable.
Created issue #113

I'm bit occupied at the moment, PR's most welcomed.

Thanks

[2019-07-11 20:48] kirankalyan5 commented on #111
@mathieujohnson v3.4.1 is published 👍

[2019-07-11 20:48] #111 closed

[2019-07-11 22:50] ziyafenn commented on #113
Just to add, I believe it would make sense to allow various types of objects and not only images. I.e. an icon component (RN vector icons).

[2019-07-12 00:29] zhigang1992 commented on #49
@kirankalyan5 wrong mention?

[2019-07-12 06:17] kirankalyan5 commented on #113
@ziyafenn Makes sense 👍

[2019-07-12 06:21] kirankalyan5 commented on #49
@zhigang1992 yes, sorry for that :D

[2019-07-13 05:06] iRoachie opened #114 "Ability to change touchable"
Would be awesome if we could change the type of Touchable being used.

Right now it’s `TouchableOpacity`. Would be awesome if we could use `TouchableHighlight`

[2019-07-17 18:00] kirankalyan5 commented on #114
Hi, @iRoachie Would be great if could briefly explain the use case?
Thanks

[2019-07-17 18:02] iRoachie commented on #114
The original segmental control on iOS used TouchableHighlight. When tapping on an item, it shows an underColor. Right now you lib doesn’t have any effects at all when touching on an item since you’re using TouchableOpacity with `activeOpacity` of 1.

Changing this `activeOpacity` dims the opacity of the entire item including the borders.

[2019-07-18 04:59] 0x0056 commented on #113
I have made a PR for this @ #115

[2019-07-18 18:25] Grohden commented on #56
So no `testID` then?

[2019-07-23 13:45] kirankalyan5 commented on #114
ok, then the better idea would be to configure the component to use one of the `Touchable...` via props with a default one.

I'm bit occupied at the moments, I could look into it sometime later or PR's welcome :)

[2019-08-21 11:03] Jamaxack commented on #42
In case someone looking for making the SegmentedControlTab control alight center, here how I did:
`  <View style={{ alignItems: "center", paddingTop: 10 }}>
          <SegmentedControlTab
            tabStyle={{ flex: 0, paddingHorizontal: 20 }}
            values={["Upcoming", "Past"]}
          />
        </View>`

[2019-09-09 22:43] emclab opened #133 "How can I pass 2nd index to onTabPress callback?"
In my app, I need to pass 2nd index into onTabPress callback. How can I do it? Here is the code:

                             <SegmentedControlTab
                                    values={['messanger', 'eventer', 'admin']}
                                    selectedIndex={this.state.selectedIndex}
                                    onTabPress={this.handleIndexChange}

[2019-09-10 08:24] jaajapie opened #134 "How to add Icon Front of Text"
I try to fixed by issue #49 but it not work How?

[2019-09-11 06:05] iamir4g commented on #134
i have same issue

[2019-09-13 12:13] kresogalic8 commented on #44
Hey guys, is this fixed? I have that issue also, how can I get 2 lines?

[2019-09-13 12:30] kirankalyan5 commented on #44
Please use `textNumberOfLines={2}` prop.

[2019-09-13 12:32] kirankalyan5 commented on #134
#113 is still an open ticket. PR's welcome.

Thanks in advance.

[2019-09-13 12:32] #134 closed

[2019-09-13 12:37] kirankalyan5 commented on #133
Hi @emclab  Could you explain in a bit detail the purpose of the second index like how you get it and why you need it?

[2019-09-16 08:28] kresogalic8 commented on #44
@kirankalyan5 that's not working

[2019-09-16 08:44] kirankalyan5 commented on #44
Would be nice if you could share the code in how you are using it?

[2019-09-16 08:46] kresogalic8 commented on #44
This is what I have in code
`
SegmentedControlTab
    values={this.state.eventTypes}
    selectedIndex={this.state.selectedType}
    onTabPress={this.handleIndexChange}
    tabsContainerStyle={{ height: 40 }}
    activeTabStyle={{
        backgroundColor: COLORS.secondary
    }}
    activeTabTextStyle={{ color: 'white' }}
    tabStyle={{
        borderColor: COLORS.secondary
    }}
    tabTextStyl

[2019-09-16 18:53] kirankalyan5 commented on #44
Could you please check if you have the latest version?

[2019-09-16 20:22] emclab commented on #133
Hi @kirankalyan5, the purpose of adding a 2ndindex is to provide a identifier when the segement tab is grouping within a something else, such as checkbox. It would be nice to have. I am currently solving the issue by creating a component for that grouping so I can pass in a 2nd index as variable outside of the segment tab control.

[2019-09-16 20:22] #133 closed

[2019-09-16 20:40] kresogalic8 commented on #44
<img width="834" alt="Screenshot 2019-09-16 at 22 36 52" src="https://user-images.githubusercontent.com/7289406/64991826-e77d6f80-d8d2-11e9-8462-92be3a6d6f64.png">

[2019-09-26 07:41] ManojSolanki opened #137 "Ability to scroll tabs while tabs count is greater then 10"
Please suggest to me how to make tabs scrollable, In my case tab count is greater than 10.

[2019-10-14 18:11] shamilovtim opened #145 "iOS 13 has a new style of segment"
Consider providing an option to use the new style in order to stay consistent with at least one platform

![segmented](https://user-images.githubusercontent.com/3495974/66773183-7d81c700-ee8c-11e9-8306-c1d0c9426cad.png)

[2019-10-24 14:34] vforvasile commented on #145
Try this workaround:
`const styles = {
  container: {
    height: 36,
    borderColor: '#eeeef0',
    backgroundColor: '#eeeef0',
    justifyContent: 'center',
    alignItems: 'center',
    width: '100%',
    borderRadius: 8,
    overflow: 'hidden'
  },
  commonStyle: {
    backgroundColor: '#eeeef0',
    height: 30,
    borderTopRightRadius: 8,
    borderTopLeftRadius: 8,
    borderBottomLeftRadi

[2019-10-24 23:52] shamilovtim commented on #145
Nice job! If you're interested, you could probably send a PR to the repo and have this style be conditional on a true/false prop `newSegmentStyle`. One thing, you might be missing the animation left to right. I'll be happy to add that when I get a second.

[2019-11-15 11:42] RuairiOliver opened #155 "Please change to accessibilityRole from accessibilityTraits"
accessibilityTraits and accessibilityComponentType have been merged to use one option accessibilityRole since react native 0.57. TabOption should have accessibilityRole="button"

https://github.com/kirankalyan5/react-native-segmented-control-tab/issues/new

[2019-11-28 17:34] andriadze opened #156 "How to remove vertical line / separator between controls"
Hi, I'm trying to just have the bottom border on active items and want to remove all other lines. I'm able to style everything but the vertical line between 2 segmented controls

[2019-11-28 21:08] andriadze commented on #156
Added following prop to the SegmentedControlTab:
[code]
This is needed only if you have 2 tabs.

Great library btw, thanks for your work

[2019-11-28 21:08] #156 closed

[2019-12-03 14:24] kirankalyan5 commented on #155
Hi @RuairiOliver, I'm quite occupied at the moment, please feel free to open a PR.
Thanks.

[2019-12-13 07:50] msageryd opened #161 "How to center multiline text?"
Some of my tab texts needs two lines.

I can get this to work if set `textNumberOfLines={2}` and explicitly set the text height via `tabTextStyle`.

But this makes all text align to top, like this:
![image](https://user-images.githubusercontent.com/4483085/70780563-43964980-1d85-11ea-9ed9-dd97e8d3b361.png)

If I omit setting the text height, the text gets centered, but I only get one line.
![image

[2019-12-13 08:11] msageryd commented on #161
After talking to myself, I think it's solved.
Android needed `textAlign: 'center'`.

Thank you for a great multi platform alternative to segmentedControlIOS.

Closing this.

[2019-12-13 08:11] #161 closed

[2019-12-20 23:43] Jmzp commented on #137
I have a similar question

[2019-12-25 14:15] alyezz commented on #145
@shamilovtim I was wondering if you ever got the chance to implement the animation? Or have any insight as to how to do it

[2019-12-25 16:32] shamilovtim commented on #145
@alyezz Sorry but I've been too busy and haven't needed to yet! I do have insight on how to use it: use the native React Native.Animation API. I'd wait for the javascript computation to complete and then rerender the view in that order.

[2020-01-24 06:18] #145 closed

[2020-01-30 11:56] dayaki commented on #137
Yes please, can we have this? A scrollable option

[2020-04-04 14:49] MrOttimista commented on #137
Yes please make it as a prop. it will be very helpful

[2020-04-17 20:31] jeveloper commented on #44
@kirankalyan5  Hey Kiran, setting textNumberOfLines={2} would not work when working in a typescript environment with checks. Unfortunately it needs to be an explicit parameter.

[2020-04-25 13:21] ssghajar opened #202 "Gradient BackgroundColor"
hi there ...thanks for the repo.
is it possible to set a gradient color style for each segment?
or use `react-native-linear-gradient` in it?

[2020-04-29 19:22] yalva opened #205 "Is it possible to set selected index to null or something like that and set none of the tabs selected ?"

[2020-05-06 07:19] kirankalyan5 commented on #202
@ssghajar Thank you.

you could play around with the following tab style props to achieve a custom tab styling.
[code]

[2020-05-06 07:21] kirankalyan5 commented on #205
@yalva could you provide a code example and provide a bit more info in what you are looking for?

[2020-05-06 07:22] kirankalyan5 commented on #137
Thank you, PR appreciated

[2020-07-20 19:56] eric99r opened #234 "Is it possible to return the array of values instead of the array of indecies?"
I have a value array of ['$', '$$', '$$$', '$$$$'] and while i could get the values of these by the indecies, i rather have the values themselves.

[2020-08-24 02:39] taylorpringle commented on #205
I made mine work by changing
[code]

to

[code]

in SegmentedControlTab.js. Just send null as an index and it will have no tabs selected.

[2020-09-21 11:46] Dhinesh-KS opened #253 "OnTabPress Shows White Blank Screen (iOS)"
Hi,
    When I select Comments tab from the segmented tab the entire screen becomes complete blank. So I need to force close the app to use further. This issue is happening only on iOS production build. Please refer the below code for the implementation.
[code]
[code]

[2020-09-21 12:51] kirankalyan5 commented on #253
@Dhinesh-KS Could you test removing the comments component
[code]
and replace it with a simple Text. Just to be sure if the issue coming to  `SegmentedControlTab` or `Comments`. ?

[2020-09-29 12:00] emannick opened #258 "Functional Component Support"
Hi, Is it possible to call this component in Functional Component? And how to change the index value using useState.

[2020-12-08 01:23] yacaeh commented on #258
Sure, you can use like the following
[code]

[2021-02-25 14:24] prushni1 opened #302 "Vertical Design of segment"
Can we place the labels in vertical format, rather than horizontal view?

[2021-04-03 13:09] pdugan20 opened #312 "Memory leak when unmounting component"
If I logout of my application and unmount the component, I get the following error:
[code]

Any ideas on how to handle this?

[2021-04-11 13:44] kirankalyan5 commented on #312
@pdugan20 I suspect the leak is related to the state update in the consumer app, could you share/explain what you are doing with `handleTabPress`?

[2021-04-11 13:49] kirankalyan5 commented on #302
Hi @prushni1 The default flexDirection for `tabsContainerStyle` is `row`
 https://github.com/kirankalyan5/react-native-segmented-control-tab/blob/master/src/SegmentedControlTab.js#L46

You could override it with the prop `tabsContainerStyle`and passing`flexDirection: 'column',`.

[2021-04-11 13:50] #258 closed

[2021-04-11 13:51] #205 closed

[2021-04-11 13:52] #202 closed

[2021-04-11 13:52] #253 closed

[2021-04-11 14:09] pdugan20 commented on #312
Hello! I don't believe I have access to handleTabPress(). I am passing in the following functions to onTabPress() based on whether the control tab allows single or multiple selected items.

[code]

[2021-06-09 17:02] josoma03 commented on #44
@kirankalyan5 that's not working

[2021-06-09 17:07] josoma03 commented on #25
Change the size of segment
`tabStyle={{ flex: 0, flexGrow: 1}}`

[2022-01-13 21:12] my-name-is-nheo opened #351 "borderWidth not rendering at left and right side"
![image](https://user-images.githubusercontent.com/58013260/149409746-9847b7de-2844-4a7c-a271-fb87ac62ea61.png)

CODE:
![image](https://user-images.githubusercontent.com/58013260/149409904-0a9f0d8f-cc47-4b0e-b23d-eee907b8f9d5.png)

tried
`borderWidth: 1` for activeTabStyle, tabStyle and firstTabStyle. none seem to work. I'm seeing `borderRightWidth` and `borderLeftWidth` is 0 in the inspector. Whe

[2022-01-14 10:58] kirankalyan5 commented on #351
Hi, Is this happening on all the tabs or just the active tab?
And in general how many tabs are you rendering?

[2022-01-14 15:37] my-name-is-nheo commented on #351
@kirankalyan5 happens when there is only tab. when there are three tabs, only the middle one will show all borders. first and last tab have the same behavior. First tab's `borderRightWidth` is set to 0 and last tab's `borderLeftWidth` is set to 0. cannot override them for some reason

[2022-01-17 21:39] kirankalyan5 commented on #351
Could you try passing custom styles to `firstTabStyle`, `lasttabStyle`?
That would override the default styles, also in the above code I see you are passing an array, please try passing object styles instead.
[code]

[2022-01-17 21:41] #234 closed

[2022-01-17 21:42] #302 closed

[2022-01-18 03:37] #351 closed

[2022-04-15 06:43] fukemy commented on #91
any solution? too large width problem